<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.mvc.chap04.repository.ScoreMapper">

    <insert id="save">
        INSERT INTO student
            (name, kor, eng, math, total, average, grade)
        VALUES(#{name}, #{kor}, #{eng}, #{math}, #{total}, #{average}, #{grade})
    </insert>

    <update id="updateScore">
        UPDATE student
        SET kor = #{kor}, eng = #{eng}, math = #{math}
        WHERE STU_NUM = #{stuNum}

    </update>

    <delete id="deleteByStuNum">
        DELETE FROM student
        WHERE STU_NUM = #{stuNum}
    </delete>

    <resultMap id="score" type="com.spring.mvc.chap04.entity.Score">
        <result property="stuNum" column="STU_NUM" />
    </resultMap>
    <select id="findAll" resultMap="score">
        SELECT * FROM student
    </select>

    <select id="findByStuNum" resultMap="score">
        SELECT * FROM student
        WHERE STU_NUM = #{stuNum}
    </select>



</mapper>